.idea/
typeScript-intro/node_modules/
projects/my-angualr-app/node_modules/
projects/course-project-1/Angualr-concepts/node_modules/
projects/course-project-1/recipe-app/node_modules/
projects/course-project-1/recipe-app-gitplus-Ngrx/node_modules/
x.txt